:root {
    --mocha-primary: #b4befe;
    --mocha-hover: #74c7ec;
    --mocha-text: #cdd6f4;
    --mocha-surface: #1e1e2e;
    --mocha-shadow: rgba(108, 112, 134, 0.15);
    --bg-color: #1e1e2e;
    --panel-color: #313244;
    --accent-color: #cba6f7;
    --text-color: #f5e0dc;
    --font-family: 'Segoe UI', sans-serif;

    /* Door Open */
    --mocha-green: #a6e3a1;

    /* Logs */
    --mocha-logs: #f9d29d;

    /* Homepage */
    --mocha-homepage: #fab387;

    /* Door Camera */
    --mocha-camera: #f5c2e7;

    /* Linux Camera */
    --mocha-linux: #89b4fa;

    /* piZero Camera */
    --mocha-kitchen: #f2cdcd;

    /* Admin Page */
    --mocha-admin: #f38ba8;
}

body {
    background-color: var(--mocha-surface);
    color: var(--mocha-text);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 1rem;
}