<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>

<body>
    <h1 class="h1">Welcome {{ user }}</h1>
    <div>
        <!-- Button to Toggle the Garage Door -->
        <button id="gpioToggle" class="button open">
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#Garage"></use>
            </svg>
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#Resume"></use>
            </svg>
        </button>
    </div>

    <!-- Button to launch camera live view -->
    <div>
        <button id="launchLiveView" class="button camera" onclick="location.href='/liveView'">
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#Garage"></use>
            </svg>
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#Camera"></use>
            </svg>
        </button>
    </div>

    <div>
        <button id="launchLogs" class="button logs" onclick="location.href='/logbook'">
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#Garage"></use>
            </svg>
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#Logbook"></use>
            </svg>
        </button>
    </div>

    <!-- Button for Admin page only if user is admin -->
    {% if role == 'admin' %}
    <div>
        <button id="launchAdmin" class="button admin" onclick="location.href='admin'"">
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#Garage"></use>
            </svg>
            <svg class="svgIcons">
                <use href="{{ url_for('static', filename='SVG/icons.svg') }}#admin"></use>
            </svg>
        </button>
    </div>
    {% endif %}


</body>

<script type="module">
    import sendCommand from '/static/JavaScript/garageControl.js';
    document.querySelectorAll("button").forEach(button => {
            button.addEventListener("click", () => sendCommand(button.id));
        });
</script>

</html>